*{
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif !important; */
}

html {
    height: 100%;
}

:root {
    --colorOne: #264653;
    --colorTwo: #2A9D8F;
    --colorThree: #E9C46A;
    --colorFour: #F4A261;
    --colorFive: #E76F51;
}
.navbar {
    background-color: var(--colorOne) ;
}

.navbar-toggler{
    border: none;
}

.btn-airplane {
    color: var(--colorFour) !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.logoNav {
    image-orientation: from-image;
    width: 210px;
}

.login {
    background-color: var(--colorFour) !important; 
    border: 1px solid var(--colorFour) !important;
}

.login a {
    text-decoration: none;
    color: var(--colorOne);
}


footer {
    margin-bottom: 200px;
    width: 20px;
    background-color: var(--colorOne);
}

.logoFooter {
    width: 210px;
}

.linkedin {
    height: 60px;
}

.instagram {
    height: 55px;
}

.twitter {
    height: 55px;
}

.facebook {
    height: 60px;
}

.title-footer {
color: #efefef;
}

footer ul li a {
    text-decoration: none;
    color: #efefef;
    transition: all 0.3s ease;
}

footer ul li a:hover {
    color: var(--colorThree);
}

footer ul li {
    list-style: none;
}

section h1 {
    color: var(--colorTwo);
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin: 30px 30px 30px 0;
    border-radius: 0 50px 50px 0;
    border: 2px solid var(--colorOne)
}

body {
    background-color: #efefef;
}

main {
    margin-top: 170px;
}

.btn_FB{
    width: 200px;
    margin-top: 10px;
}

.btn_GG{
    width: 200px;
    margin-top: 10px;
}

#boton_COL1{
    background-color: var(--colorOne);
    color: #FFF;
}


.categories ul li a {
    text-decoration: none;
    color: var(--colorOne);
    transition: all 0.3s ease;
}

.categories ul li a:hover {
    color: var(--colorTwo);
}

.btn_IS{
    background-color: var(--colorFour) !important;
    color: #FFF;
}

.modal-suscription {
    background-image: 
    url(https://cdn.pixabay.com/photo/2013/04/19/21/32/new-york-city-105862_1280.jpg);
    background-repeat: round;
    /* background-size: cover; */
    opacity: 0.9;
}

.modal-suscription::before {
    content: "";
    width: 100%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(5, 7, 12, .55), rgba(5, 7, 12, .55));
    z-index: -1;
}

.modal-suscription form input {
    border: none;
    background: none;
    border-bottom: 2px solid var(--colorTwo);
}

.modal-suscription form input:focus {
    background: var(--colorOne);
}

#suscriptionModalLabel{
    color: #efefef;
}

.modal-suscription ::placeholder {
    color: #efefef !important;
}

.modal-suscription ::placeholder::shadow {
    background-color: var(--colorOne);
}

.label-tyc {
    color: #efefef;
}

.modal-suscription form a {
    text-decoration: none;
    color: var(--colorFour);
    transition: all 0.3s ease;
}

.modal-suscription form a:hover {
    color: var(--colorFive);
}

.btn-register {
    background-color: var(--colorFour) !important;
    color: var(--colorOne) !important;
    border: 1px solid var(--colorFour) !important;
}

.btn-register:hover {
    background-color: var(--colorThree) !important;
    color: var(--colorOne) !important;
    border: 1px solid var(--colorThree) !important;
}


@media (min-width:768px) {
    .modal-suscription::before {
        height: 65vh;
    }

}
