:root {
  --colorOne: #264653;
  --colorTwo: #2A9D8F;
  --colorThree: #E9C46A;
  --colorFour: #F4A261;
  --colorFive: #E76F51;
}

.modal-content {
  background-image: 
  url(https://cdn.pixabay.com/photo/2013/04/19/21/32/new-york-city-105862_1280.jpg);
  background-repeat: round;
  /* background-size: cover; */
  opacity: 0.9;
}

.modal-content::before {
  content: "";
  width: 100%;
  min-height: 68vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(5, 7, 12, .55), rgba(5, 7, 12, .55));
  z-index: -1;
}

.modal-content form input {
  border: none;
  background: none;
  border-bottom: 2px solid var(--colorTwo);
}

.modal-content form input:focus {
  background: var(--colorOne);
}

#suscriptionModalLabel{
  color: #efefef;
}

.modal-content ::placeholder {
  color: #efefef;
}

.modal-content ::placeholder::shadow {
  background-color: var(--colorOne);
}

.label-tyc {
  color: #efefef;
}

.modal-content form a {
  text-decoration: none;
  color: var(--colorFour);
  transition: all 0.3s ease;
}

.modal-content form a:hover {
  color: var(--colorFive);
}

.btn-register {
  background-color: var(--colorFour);
  color: var(--colorOne);
  border: 1px solid var(--colorFour);
}

.btn-register:hover {
  background-color: var(--colorThree);
  color: var(--colorOne);
  border: 1px solid var(--colorThree);
}
