*{
  margin: 0;
  padding: 0;
  /* font-family: 'Montserrat', sans-serif !important; */
}

:root {
  --colorOne: #264653;
  --colorTwo: #2A9D8F;
  --colorThree: #E9C46A;
  --colorFour: #F4A261;
  --colorFive: #E76F51;
}
.navbar {
  background-color: var(--colorOne) ;
}

.navbar-toggler{
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.logoNav {
  image-orientation: from-image;
  width: 210px;
}

.login {
  background-color: var(--colorFour) !important; 
  border: 1px solid var(--colorFour) !important;
}

.login a {
  text-decoration: none;
  color: var(--colorOne);
}

.plane {
  
  border: none;
  width: 80px
}

footer {
  
  width: 10px;
  background-color: var(--colorOne);
}

.logoFooter {
  width: 210px;
}

.linkedin {
  height: 60px;
}

.instagram {
  height: 55px;
}

.twitter {
  height: 55px;
}

.facebook {
  height: 60px;
}

.title-footer {
color: #efefef;
}

footer ul li a {
  text-decoration: none;
  color: #efefef;
  transition: all 0.3s ease;
}

footer ul li a:hover {
  color: var(--colorThree);
}

footer ul li {
  list-style: none;
}

section h1 {
  color: var(--colorTwo);
  padding: 20px;
  text-align: center;
  background-color: #fff;
  margin: 30px 30px 30px 0;
  border-radius: 0 50px 50px 0;
  border: 2px solid var(--colorOne)
}

body {
  background-color: #EDEDED;
}

main {
  margin-top: 170px;
}

.modal-content {
  background-image: 
  url(https://cdn.pixabay.com/photo/2013/04/19/21/32/new-york-city-105862_1280.jpg);
  background-repeat: round;
  /* background-size: cover; */
  opacity: 0.9;
}

.modal-content::before {
  content: "";
  width: 100%;
  min-height: 55vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(5, 7, 12, .55), rgba(5, 7, 12, .55));
  z-index: -1;
}

.modal-content form input {
  border: none;
  background: none;
  border-bottom: 2px solid var(--colorTwo);
  color: #efefef;
}

.modal-content form input:focus {
  background: var(--colorOne);
  color: #efefef;
}

#suscriptionModalLabel{
  color: #efefef;
}

.modal-content ::placeholder {
  color: #efefef;
}

.modal-content ::placeholder::shadow {
  background-color: var(--colorOne);
}

.label-tyc {
  color: #efefef;
}

.modal-content form a {
  text-decoration: none;
  color: var(--colorFour);
  transition: all 0.3s ease;
}

.modal-content form a:hover {
  color: var(--colorFive);
}

.btn-register {
  background-color: var(--colorFour);
  color: var(--colorOne);
  border: 1px solid var(--colorFour);
}

.btn-register:hover {
  background-color: var(--colorThree);
  color: var(--colorOne);
  border: 1px solid var(--colorThree);
}


.card-profile .img-card-profile {
  width: 125px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}
.img-card-profile img {
  width: 200px;
}

.header-card-profile {
  height: 100px;
  background-color: var(--colorFour);
}

@media (min-width:768px) {
  .modal-content::before {
      height: 65vh;
  }
}